

body {
    background-image: url("./media/img-1.png");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.responsive {
    width: 100%;
    height: auto;
}

img{
    max-width:100%;
    height:auto;
}
h1 {
    font-size: 9vw;
}

h2 {
    font-size: 7vw;
}

h3 {
    font-size: 5vw;
  }
  

p {
    font-size: 3vw;
}